@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

$galben: #f68a0a;
$blue: #0e121d;
$blue_2: #131721;
$gray: #363636;
$black: #000;
$white: #f8f8f8;

$links: "../images/Frame 54.webp", "../images/Frame 55.webp",
  "../images/Frame 56.webp";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
}

a {
  text-decoration: none;
  text-transform: none;
}

html,
body {
  overflow-x: hidden;
}
