.button {
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 8px 12px;
  user-select: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  * {
    color: $white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &.main {
    background: linear-gradient(90deg, $galben 0%, $galben2 100%);
    &:hover {
      background: linear-gradient(
        90deg,
        rgba($galben, 0.9) 100%,
        rgba($galben2, 0.9) 0%
      );
    }
  }
  &.second {
    border: 2px solid $galben;
    &:hover {
      background: rgba($galben, 0.3);
    }
  }
}

/**

admitere
  - licenta
  - masterat
  - doctorat

programe de studii
  - studii de licenta
  - mastarat

cercetare
  - centrul CCMA
          => Conducere
          => Servicii
          => Doctori
          => Proiecte derulate
  - laboratoare
  - parteneri

evenimente
  - Anunturi
  - SCSS
  - CCT
  - ICSAM

*/
