.header {
  .slider-container {
    // height: 100lvh;

    .slick-arrow {
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: $galben;
      z-index: 2;

      &::before {
        content: "";
        display: none;
      }

      &.slick-prev {
        left: 0px;
        top: 90%;
        border-radius: 0 16px 16px 0;
      }
      svg {
        font-size: 32px;
        color: $white;
      }

      &.slick-next {
        right: 0px;
        top: 90%;
        border-radius: 16px 0 0 16px;
      }
    }
  }
  .custom {
    width: 100%;
    height: calc(100lvh - 124px);
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    padding: 24px;
    overflow-x: hidden;
    padding-bottom: 80px;
    position: relative;
    .style {
      position: absolute;
      left: calc(55% + 50px);
      top: 0;
      transform: translateX(-50%);
      z-index: 0;
      width: auto;
      pointer-events: none;
      display: block;
    }
    .bbg {
      object-position: center;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    h1 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 12px;
      color: $white;
    }
    p {
      width: 100%;
      max-width: 520px;
      font-size: 16px;
      color: $white;
      margin-bottom: 16px;
    }

    .buttons {
      width: 640px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 32px;
    }
  }

  // @each $link in $links {
  //   .custom-#{index($links, $link)} {
  //     background-image: url($link);
  //   }
  // }
}
