@import "./base";
@import "./loading";
@import "./buttons";
@import "./nav";
@import "./header";
@import "./mainform";
@import "./about";
@import "./contact";
@import "./services";
@import "./testimonials";
@import "./faq";

@import "./book";
@import "./contact_page";
@import "./footer";

@import "./resize";

.terms {
  width: 100%;
  background: $blue_2;
  color: $white;
  padding: 30px;
  h1 {
    margin: 10px;
    margin-top: 30px;
  }
  p {
    margin-bottom: 20px;
  }
  ul{
    margin-left: 15px;
    li{
        margin-bottom: 10px;
    }
  }

  a {
    color: $galben;
  }
}
